
<!--<h2>La liste des associations</h2>
<div style="float: right;">
  <div style="display: inline-block; margin-right: 10px;">
    <button class="btn btn-secondary" (click)="showFilter()">Filtre<span class="ti-filter"></span></button>
  </div>
  <div style="display: inline-block;">
    <button class="btn btn-warning" (click)="changeSettings(reglageTemplate)">Réglage <span
        class="ti-settings"></span></button>
  </div>
</div>
<div style="width:100%; margin-top: 50px;">
  <table class="table table-striped">
    <thead>
      <tr>
        <th *ngIf="showLogo">
          <ng-container>Logo</ng-container>
        </th>
        <th *ngIf="showNom">
          <ng-container *ngIf="!filter">Nom</ng-container>
          <ng-container *ngIf="filter"><input type="text" placeholder="Nom" [(ngModel)]="nomFilter"></ng-container>
        </th>
        <th *ngIf="showPresentation">
          <ng-container *ngIf="!filter">Présentation</ng-container>
          <ng-container *ngIf="filter"><input type="text" placeholder="Présentation" [(ngModel)]="presentationFilter"></ng-container>
        </th>
        <th *ngIf="showSite">
          <ng-container *ngIf="!filter">Site web</ng-container>
          <ng-container *ngIf="filter"><input type="text" placeholder="Site web" [(ngModel)]="siteFilter"></ng-container>
        </th>
        <th *ngIf="showTaille">
          <ng-container *ngIf="!filter">Taille</ng-container>
          <ng-container *ngIf="filter"><input type="text" placeholder="Taille" [(ngModel)]="tailleFilter"></ng-container>
        </th>
        <th *ngIf="showAdresse">
          <ng-container *ngIf="!filter">Adresse</ng-container>
          <ng-container *ngIf="filter"><input type="text" placeholder="Adresse" [(ngModel)]="adresseFilter"></ng-container>
        </th>
        <th *ngIf="showType">
          <ng-container *ngIf="!filter">Type</ng-container>
          <ng-container *ngIf="filter"><input type="text" placeholder="Type" [(ngModel)]="typeFilter"></ng-container>
        </th>
        <th *ngIf="showEmail">
          <ng-container *ngIf="!filter">Email</ng-container>
          <ng-container *ngIf="filter"><input type="text" placeholder="Email" [(ngModel)]="emailFilter"></ng-container>
        </th>
        <th *ngIf="showTel">
          <ng-container *ngIf="!filter">Numéro de telephone</ng-container>
          <ng-container *ngIf="filter"><input type="text" placeholder="numéro de telephone"></ng-container>
        </th> 
        <th *ngIf="showPays">
          <ng-container *ngIf="!filter">Pays</ng-container>
          <ng-container *ngIf="filter"><input type="text" placeholder="Pays" [(ngModel)]="paysFilter"></ng-container>
        </th>
        <th *ngIf="showFondation">
          <ng-container *ngIf="!filter">Fondation</ng-container>
          <ng-container *ngIf="filter"><input type="text" placeholder="Fondation" [(ngModel)]="fondationFilter"></ng-container>
        </th>
        <th *ngIf="showAjout">
          <ng-container *ngIf="!filter">Date d'ajout</ng-container>
          <ng-container *ngIf="filter"><input type="text" placeholder="Date d'ajout" [(ngModel)]="ajoutFilter"></ng-container>
        </th>
        <th *ngIf="showModification">
          <ng-container *ngIf="!filter">Date de modification</ng-container>
          <ng-container *ngIf="filter"><input type="text" placeholder="Date de modification" [(ngModel)]="modifFilter"></ng-container>
        </th>
        <th> Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let association of associations |filterNomAssociation:nomFilter|filterPresentationAssociation:presentationFilter|filterSiteAssociation:siteFilter
      |filterTailleAssociation:tailleFilter|filterAdresseAssociation:adresseFilter|filterTypeAssociation:typeFilter|filterEmailAssociation:emailFilter
      |filterFondationAssociation:fondationFilter|filterPaysAssociation:paysFilter|filterModificationAssociation:modifFilter|filterAjoutAssociation:ajoutFilter">
        <td class="py-1" *ngIf="showLogo">
          <img src="data:image/jpg;base64,{{association.photo}}" *ngIf="association && association.photo"  class="zoom"
          style="width:30px; height:30px;">
          <img src="../../../assets/images/entreprises/e1.jpg" *ngIf="!association.photo || !association" class="zoom" >
        </td>
        <td *ngIf="showNom">{{association.nom}}</td>
        <td *ngIf="showPresentation">{{association.presentation}}</td>
        <td *ngIf="showSite">{{association.siteWeb}}</td>
        <td *ngIf="showTaille">{{association.taille}}</td>
        <td class="py-1" *ngIf="showAdresse">{{association.adresse}}</td>
        <td class="py-1" *ngIf="showType">{{association.type}}</td>
        <td class="py-1" *ngIf="showEmail">{{association.email}}</td>
         <td *ngIf="showTel">{{employeurToDisplayDetails.nom}}</td> -->
       <!--> <td class="py-1" *ngIf="showPays">{{association.pays}}</td>
        <td class="py-1" *ngIf="showFondation">{{association.fondation}}</td>
        <td *ngIf="showAjout">{{association.dateAjout }}</td>
        <td *ngIf="showModification">{{association.dateModif }}</td>
        <td>
          <span title="Supprimer" class="ti-trash" style="cursor: pointer; margin-right: 20px;color: red;"
            (click)="showDeleteModal(deleteTemplate, association)"></span>
          <span title="Détails" class="ti-info-alt" style="cursor: pointer; color: blue;"
            (click)="showInfoModal(infoTemplate, association)"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>-->
<!---------------------------------------------------delete modal*******************************-->
<!--<ng-template #deleteTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Suppression d'association {{associationToDelete.nom}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Vous étes sure de supprimer l'association {{associationToDelete.nom}}?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="deleteAssociation()">OUI</button>
    <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">NON</button>
  </div>
</ng-template>-->

<!---------------------------------------------------info modal*******************************-->
<!--<ng-template #infoTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Détails de l'association {{associationToDisplayDetails.nom}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container py-3" style="width:100%;">
      <div class="card">
        <div class="row ">
          <div class="col-md-5">
            <img src="../../../assets/images/entreprises/e1.jpg" class="w-100" style="height: 100%;">
          </div>
          <div class="col-md-7 px-3">
            <div class="card-block px-3">
              <b>Nom: </b>{{associationToDisplayDetails.nom}}<br>
              <b>Présentation: </b>{{associationToDisplayDetails.presentation}}<br>
              <b>Site web: </b>{{associationemployeurToDisplayDetails.site}}<br>
              <b>Taille: </b>{{associationToDisplayDetails.taille}}<br>
              <b>Adresse: </b>{{associationToDisplayDetails.adresse}}<br>-->
              <!-- <b>Numéro de telephone: </b>+201625353654<br> -->
             <!--> <b>Type: </b>{{associationToDisplayDetails.type}}<br>
              <b>Fondation: </b>{{associationToDisplayDetails.fondation}}<br>
              <b>Email: </b>{{associationToDisplayDetails.email}}<br>
              <b>Pays: </b>{{associationToDisplayDetails.pays}}<br>
              <b>Ajouté le: </b>{{associationToDisplayDetails.dateAjout }}<br>
              <b>Dérniére modification: </b>{{associationToDisplayDetails.dateModif }}<br>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</ng-template>
-->
<!---------------------------------------------------reglage modal*******************************-->
<!--<ng-template #reglageTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Selectionnez les colonnes à afficher dans la table</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-check form-check-primary">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" [(ngModel)]="showLogo">
        Logo
        <i class="input-helper"></i></label>
    </div>
    <div class="form-check form-check-primary">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" [(ngModel)]="showNom">
        Nom
        <i class="input-helper"></i></label>
    </div>
    <div class="form-check form-check-primary">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" [(ngModel)]="showPresentation" >
        Présentation
        <i class="input-helper"></i></label>
    </div>
    <div class="form-check form-check-primary">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" [(ngModel)]="showSite" >
        Site web
        <i class="input-helper"></i></label>
    </div>
    <div class="form-check form-check-primary">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" [(ngModel)]="showTaille" >
        Taille
        <i class="input-helper"></i></label>
    </div>
    <div class="form-check form-check-primary">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" [(ngModel)]="showAdresse">
        Adresse
        <i class="input-helper"></i></label>
    </div>
    <div class="form-check form-check-primary">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" [(ngModel)]="showType">
        Type
        <i class="input-helper"></i></label>
    </div>
    <div class="form-check form-check-primary">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" [(ngModel)]="showEmail" >
        Email
        <i class="input-helper"></i></label>
    </div>
    <div class="form-check form-check-primary">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" [(ngModel)]="showTel" >
        Numéro de télephone
        <i class="input-helper"></i></label>
    </div>
    <div class="form-check form-check-primary">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" [(ngModel)]="showPays"
          [ngModelOptions]="{standalone: true}">
        Pays
        <i class="input-helper"></i></label>
    </div>
    <div class="form-check form-check-primary">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" [(ngModel)]="showFondation" >
        Fondation
        <i class="input-helper"></i></label>
    </div>

    <div class="form-check form-check-primary">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" [(ngModel)]="showAjout" >
        Date d'ajout
        <i class="input-helper"></i></label>
    </div>
    <div class="form-check form-check-primary">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" [(ngModel)]="showModification">
        Date de modification
        <i class="input-helper"></i></label>
    </div>
  </div>
</ng-template>-->
